.mm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.q-mark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 200px;
  height: 200px; 
  background-color: #ff60f7;
  border-radius: 50%;
  /* border: solid 1px #2f3857; */
}

.q-mark {
  margin-left: 0.5rem;
  font-size: 12rem;
  /* text-shadow: -1px 0 #2f3857, 0 1px #2f3857, 1px 0 #2f3857, 0 -1px #2f3857; */
  /* background-color: chartreuse; */
  
}

.Menu {
  margin-top: 6rem;
}


.Menu button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #fefcff;
  background-color: #2f3857;
}

.Menu button:hover {
  color: #fefcff;
  background-color: #ff60f7;
  cursor: pointer;
}
