.mm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 450px; */
}

.title {
  color: #2f3857;
}

.q-mark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #ff60f7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.q-mark {
  margin-left: 0.5rem;
  font-size: 10rem;
  /* color: #2f3857; */
  /* text-shadow: -1px 0 #2f3857, 0 1px #2f3857, 1px 0 #2f3857, 0 -1px #2f3857; */
}

.Menu {
  margin-top: 3rem;
}

.Menu button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #fefcff;
  background-color: #2f3857;
}

.Menu button:hover {
  color: #fefcff;
  background-color: #ff60f7;
  cursor: pointer;
}
