.mm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.Menu {
}

.q-mark {
  font-size: 7rem;
  text-align: center;
  /* text-shadow: -1px 0 #2f3857, 0 1px #2f3857, 1px 0 #2f3857, 0 -1px #2f3857; */
}

.Menu button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #fefcff;
  background-color: #ff60f7;
}

.Menu button:hover {
  color: #1c2133;
  background-color: #fdd5fa;
  cursor: pointer;
}
