.end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #ff60f7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.score-numbers {
  font-size: 3.9rem;
  /* text-shadow: -1px 0 #2f3857, 0 1px #2f3857, 1px 0 #2f3857, 0 -1px #2f3857; */

}

.title {
  color: #2f3857;
}

.btn-container {
  margin-top: 3rem;
}

.btnStartOver {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  color: #fefcff;
  background-color: #2f3857;
  margin-bottom: 2rem;
}

.btnStartOver:hover {
  color: #fefcff;
  background-color: #ff60f7;
  cursor: pointer;
}
