* {
  box-sizing: border-box;
}

h1 {
  font-family: "Wendy One", sans-serif;
  color: #fefcff;
  text-shadow: -1px 0 #2f3857, 0 1px #2f3857, 1px 0 #2f3857, 0 -1px #2f3857;
}

.App {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #2f3857;
  height: 100vh;
  padding-top: 1rem;
}

.app-bg {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 400px;
  height: 700px;
  border: solid 8px #fefcff;
  background-color: #70acf6;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 6px 6px 2px #20263b;
}
.app-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}
