* {
  box-sizing: border-box;
}

h1 {
  font-family: "Wendy One", sans-serif;
  color: #fefcff;
  line-height: 1.4rem;
}

.App {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f3857;
  height: 100vh;
  margin-top: 1rem;
}

.title {
  text-align: center;
  font-size: 3rem;
}

@media (max-width: 460px) {
  .title {
    font-size: 1.7rem;
    /* margin-top: 4rem; */
  }
}

.app-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 365px;
  height: fit-content;
  border: solid 8px #fefcff;
  background-color: #70acf6;
  border-radius: 10px;
  box-shadow: 6px 6px 2px #20263b;
  margin-top: 1rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
